body {
    background-color: #333;
}

canvas {
    width: 800px;
    height: 600px;
    position: absolute;
    margin: auto;
    background-color: #000;
    inset: 0;
    image-rendering: pixelated;
    border-radius: 10px;
}